<div class="sacola-wrapper">
  <header>
    <img src="assets/svg/voltar.svg" (click)="navigateToHome()">
    <h4>Sacola</h4>
  </header>
  <div class="loja">
    <img src="assets/png/sem-foto-100.png"/>
    <div class="loja-info">
      <span>{{ nomeLoja }}</span>
      <a>Adicionar mais itens</a>
    </div>
  </div>
  <div class="lista-compra">
    <h5>Lista de Compra</h5>
    <h4 *ngIf="!carrinhoCompras">Sacola Vazia!</h4>
    <div class="itens-compra" *ngIf="carrinhoCompras">
      <div class="item" *ngFor="let produto of produtos">
        <img class="foto-produto" [src]="produto.imagemBase64 || 'assets/png/placeholder-produto.jpg'"/>
        <div class="item-info">
          <span>{{ produto.titulo }}</span>
          <span class="preco-produto">{{ produto.precoUnitario | currency:'BRL':'symbol':'1.2-2' }}</span>
        </div>
        <div class="item-actions">
          <span (click)="removeProduto(produto.id)">Remover</span>
        </div>
      </div>
    </div>
    <footer *ngIf="carrinhoCompras">
      <div class="preco-total">
        <span class="preco-total-title">Preço Total</span>
        <span class="preco-total-text">{{ precoTotal | currency:'BRL':'symbol':'1.2-2' }}</span>
      </div>
      <div class="pagamento-button" (click)="navigateToConfirmar()">
        <button>Faça o Pagamento</button>
      </div>
    </footer>
  </div>
</div>
