<!-- visualizar-produto.component.html -->

<div class="produtos-wrapper" *ngIf="produto">
  <header>
    <img class="voltar" src="assets/svg/voltar.svg" (click)="navigateToProdutos()">
    <img class="foto" src="assets/png/placeholder-produto.jpg"/>
  </header>
  <div class="produto-section">
    <h3>{{ produto.titulo }}</h3>
    <div class="produto-preco">
      <h4>R$ {{ produto.precoUnitario.toFixed(2) }}</h4>
      <span>Por caixa (5kg cada)</span>
    </div>
    <div class="produto-info">
      <div class="produto-info-row">
        <span>Preço do quilo</span>
        <span class="produto-info-accent">R$ {{ (produto.precoUnitario / 5).toFixed(2) }}</span>
      </div>
      <div class="produto-info-row">
        <span>Peso estimado por item</span>
        <span class="produto-info-accent">{{ produto.pesoEstimado }} kg</span>
      </div>
      <div class="produto-info-row">
        <span>Tempo de Entrega</span>
        <span class="produto-info-accent">{{ produto.prazoEntrega }}</span>
      </div>
    </div>
    <div class="produto-descricao">
      <h5>Descrição</h5>
      <p>{{ produto.descricao }}</p>
    </div>
    <button class="produto-button" (click)="navigateToSacola()">Adicionar à sacola</button>

    <!-- Seção de "Peça também" (pode ser populada dinamicamente) -->
    <div class="peca-tambem-section">
      <h3>Peça também</h3>
      <div class="produtos">
        <div class="produto">
          <div class="produto-image">
            <img src="/assets/png/placeholder-produto.png"/>
          </div>
          <span class="produto-nome">Produto B</span>
          <span>R$ 22,95</span>
        </div>
        <div class="produto">
          <div class="produto-image">
            <img src="/assets/png/placeholder-produto.png"/>
          </div>
          <span class="produto-nome">Produto C</span>
          <span>R$ 22,95</span>
        </div>
        <div class="produto">
          <div class="produto-image">
            <img src="/assets/png/placeholder-produto.png"/>
          </div>
          <span class="produto-nome">Produto D</span>
          <span>R$ 22,95</span>
        </div>
      </div>
    </div>
  </div>
</div>
