<div class="produtos-wrapper" *ngIf="produto">
  <header>
    <img class="voltar" src="assets/svg/voltar.svg" (click)="navigateToProdutos()">
    <img class="foto" [src]="imagemSelecionada || 'assets/png/placeholder-produto.jpg'"/>
  </header>
  <div class="produto-section">
    <h3>{{ produto.titulo }}</h3>
    <div class="produto-preco">
      <h4>{{ produto.precoUnitario | currency:'BRL':'symbol':'1.2-2' }}</h4>
    </div>
    <div class="produto-info">
      <div class="produto-info-row">
        <span>Peso estimado por item</span>
        <span class="produto-info-accent">{{ produto.pesoEstimado }} {{ produto.unidadePeso }}</span>
      </div>
      <div class="produto-info-row">
        <span>Tempo de Entrega</span>
        <span class="produto-info-accent">{{ produto.prazoEntrega }}/{{produto.unidadePrazo}}</span>
      </div>
    </div>
    <div class="produto-descricao">
      <h5>Descrição</h5>
      <p>{{ produto.descricao }}</p>
    </div>
    <button class="produto-button" (click)="addToSacola()">Adicionar à sacola</button>

    <div class="peca-tambem-section">
      <h3>Peça também</h3>
      <div class="produtos">
        <div class="produto">
          <div class="produto-image">
            <img src="/assets/png/placeholder-produto.png"/>
          </div>
          <span class="produto-nome">Produto B</span>
          <span>R$ 22,95</span>
        </div>
        <div class="produto">
          <div class="produto-image">
            <img src="/assets/png/placeholder-produto.png"/>
          </div>
          <span class="produto-nome">Produto C</span>
          <span>R$ 22,95</span>
        </div>
        <div class="produto">
          <div class="produto-image">
            <img src="/assets/png/placeholder-produto.png"/>
          </div>
          <span class="produto-nome">Produto D</span>
          <span>R$ 22,95</span>
        </div>
      </div>
    </div>
  </div>
</div>
