<div class="home-wrapper">
  <div class="header-content">
    <img src="assets/png/sem-foto-100.png" class="foto-loja">
    <span class="nome-loja">{{ nomeLoja }}</span>
    <div class="header-info">
      <div class="header-dados">
        <img src="assets/svg/produtos-vendidos.svg">
        <div class="header-buttons">
          <span class="header-button-title">{{ qtdProdutosVendidos }}</span>
          <span>Produtos vendidos</span>
        </div>
      </div>
      <div class="header-dados">
        <img src="assets/svg/ganhos.svg">
        <div class="header-buttons">
          <span class="header-button-title">{{ ganhos }}</span>
          <span>Ganhos</span>
        </div>
      </div>
    </div>
  </div>
  <div class="ultimos-pedidos-section">
    <div class="ultimos-pedidos-header">
      <h6>Últimos pedidos</h6>
      <a routerLink="/pedidos-agricultor" class="ver-todos">Ver todos</a>
    </div>
    <div class="ultimos-pedidos-content">
      <div class="pedidos">
        <div class="pedido" *ngFor="let pedido of pedidos">
          <img src="assets/png/sem-foto-100.png">
          <div class="pedido-info">
            <div class="pedido-info-sub">
              <span class="nome-cliente">{{ pedido.nomeCliente }}</span>
              <span class="numero-pedido">#{{ pedido.id }}</span>
            </div>
            <div class="pedido-info-sub">
              <span class="data-pedido">{{ pedido.dataCriacao | date:'dd/MM/yyyy' }}</span>
              <span class="valor-pedido">{{ pedido.valorTotalPedido | currency:'BRL' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-navbar-agricultor></app-navbar-agricultor>
