<div class="home-wrapper">
  <header>
    <h1 class="home-title">Bem <span>vindo!</span></h1>
    <img src="/assets/png/Home%20Img.png" width="300"/>
    <div class="search-bar">
      <input type="text" placeholder="Pesquise por produtos ou lojas..."/>
      <button><img src="/assets/svg/search.svg"/></button>
    </div>
  </header>


  <div class="ultimos-pedidos-section">
    <div class="ultimos-pedidos-text">
      <h4>Últimos Pedidos</h4>
      <a (click)="navigateToPedidos()">Ver todos</a>
    </div>
    <div class="ultimos-pedidos-item" (click)="detalharPedido()">
      <div class="ultimos-pedidos-item-img">
        <img src="/assets/png/loja-placeholder.png"/>
      </div>
      <div class="ultimos-pedidos-item-info">
        <h5>{{nomeLoja}}</h5>
        <p>Pedido #{{numeroPedido}}</p>
        <div class="ultimos-pedidos-status">
          <img src="/assets/svg/situacao-entrega/a-caminho.svg" width="32" height="32"/>
          <span>{{statusPedido}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="categorias-section">
    <h4 class="categorias-text">Categorias</h4>
    <div class="categorias-row">
      <div class="categorias-item" (click)="navigateToProdutos('Frutas')">
        <img src="/assets/png/categoria%20frutas.png"/>
        <p>Frutas</p>
      </div>
      <div class="categorias-item" (click)="navigateToProdutos('Grãos')">
        <img src="/assets/png/categoria%20graos.png"/>
        <p>Grãos</p>
      </div>
      <div class="categorias-item" (click)="navigateToProdutos('Raízes')">
        <img src="/assets/png/categoria%20raizes.png"/>
        <p>Raízes</p>
      </div>
      <div class="categorias-item" (click)="navigateToProdutos('Vegetais')">
        <img src="/assets/png/categoria%20vegetais.png"/>
        <p>Vegetais</p>
      </div>
    </div>
  </div>
</div>
<app-navbar></app-navbar>
