<div class="navbar-wrapper">
  <div class="navbar-item" (click)="navigateTo('/home-agricultor')">
    <img src="assets/svg/home.svg"/>
    <p>Início</p>
  </div>
  <div class="navbar-item" (click)="navigateTo('/produto')">
    <div class="add-produto">
      <img src="assets/svg/mais-branco.svg"/>
      <p id="p-add-produto">Produto</p>
    </div>
  </div>
  <div class="navbar-item" (click)="navigateTo('/perfil-agricultor')">
    <img src="assets/svg/perfil.svg"/>
    <p>Perfil</p>
  </div>
</div>
