<div class="pedidos-wrapper">
  <header>
    <img src="assets/svg/voltar.svg" (click)="navigateToPerfil()">
    <h4>Meus Pedidos</h4>
  </header>

  <div class="historico-pedidos">
    <h5>Histórico</h5>
    <div class="pedidos">

      <div class="pedido" *ngFor="let pedido of pedidos" (click) = "navigateToDetalhes(pedido.id)">
        <div class="pedido-header">
          <span>{{ pedido.dataCriacao | date:'dd/MM/yyyy' }}</span>
        </div>
        <div class="pedido-section">
          <div class="pedido-agricultor">
            <img src="assets/png/agricultor-sem-foto.png"/>
            <span>{{ pedido.carrinhoCompra.nomeAgricultor }}</span>
          </div>
          <div class="pedido-info">
            <span>Pedido em andamento - N° {{pedido.id}}</span>
            <div class="pedido-itens" *ngFor="let produto of produtosPedido">
              <span>{{ produto.titulo }}</span>
            </div>
          </div>
          <div class="pedido-avaliacao">
            <span>Valor</span>
            <span class="stars">{{pedido.valorTotalPedido | currency:'BRL' }}</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
