<div class="produtos-wrapper">
  <header>
    <div class="search-bar">
      <input type="text" placeholder="Pesquise por produtos ou lojas..."/>
      <button><img src="/assets/svg/search.svg"/></button>
    </div>
  </header>
  <div class="produtos-section">
    <mat-tab-group selectedIndex="0">
      <mat-tab [label]="categoria">
        <div class="produto-item" *ngFor="let produto of produtos">
          <div class="produto-agricultor" (click)="navigateToLoja()">
            <img src="/assets/png/agricultor-sem-foto.png"/>
            <div class="produto-agricultor-info">
              <h3>{{ produto.nomeLoja }}</h3>
              <p>★ 4,3</p>
            </div>
          </div>
          <div class="produto-list">
            <div class="produto" (click)="navigateToProduto(produto)">
              <img src="data:image/png;base64,{{ produto.byteFoto }}" alt="{{ produto.titulo }}"/>
              <span class="produto-nome">{{ produto.titulo }}</span>
              <span>4,3</span>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Agricultores">

      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<app-navbar></app-navbar>
