<div class="produtos-wrapper">
  <header>
    <div class="search-bar">
      <input type="text" placeholder="Pesquise por produtos ou lojas..."/>
      <button><img src="/assets/svg/search.svg"/></button>
    </div>
  </header>
  <div class="produtos-section">
    <mat-tab-group selectedIndex="0"> <!-- Changed selectedIndex to 0 to start from the first tab -->
      <mat-tab label="Agricultores">
        <!-- Static content or logic related to Agricultores can go here -->
      </mat-tab>
      <mat-tab [label]="categoria">
        <div class="produto-item" *ngFor="let produto of produtos">
          <div class="produto-agricultor" (click)="navigateToLoja()">
            <img src="/assets/png/agricultor-sem-foto.png"/>
            <div class="produto-agricultor-info">
              <h3>{{ produto.nomeLoja }}</h3> <!-- Assuming you have this field -->
              <p>★ 4,3</p> <!-- You can dynamically bind rating if available -->
            </div>
          </div>
          <div class="produto-list">
            <div class="produto" (click)="navigateToProduto(produto)">
              <img src="data:image/png;base64,{{ produto.byteFoto }}" alt="{{ produto.titulo }}"/>
              <span class="produto-nome">{{ produto.titulo }}</span>
              <span>4,3</span> <!-- Dynamically bind rating if available -->
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<app-navbar></app-navbar>
