$primary-color: #77D94A;
$secondary-color: #97D984;
$tertiary-color: #CDF2A7;
$text-color: #16162F;
$sub-text-color: #70707C;
$gray-bg: #F2F2F2;
$blue-bg: #DCE3EB;
$white-bg: #FFFFFF;
$danger-color: #FF1F1F;
