<div class="descobrir-wrapper">
  <header>
    <div class="search-bar">
      <input type="text" placeholder="Pesquise por produtos ou lojas..."/>
      <button><img src="/assets/svg/search.svg"/></button>
    </div>
  </header>
  <div class="categorias-section">
    <h4>Categorias</h4>

    <div class="categorias-row">
      <div class="categoria">
        <img src="/assets/png/categorias/frutas.png"/>
        <span>Frutas</span>
      </div>
      <div class="categoria">
        <img src="/assets/png/categorias/graos.png"/>
        <span>Grãos</span>
      </div>
    </div>
    <div class="categorias-row">
      <div class="categoria">
        <img src="/assets/png/categorias/raizes.png"/>
        <span>Raízes</span>
      </div>
      <div class="categoria">
        <img src="/assets/png/categorias/vegetais.png"/>
        <span>Vegetais</span>
      </div>
    </div>
  </div>
</div>
<app-navbar></app-navbar>
