<app-default-login-layout
  title="Cadastre-se"
  primaryBtnText="Avançar"
  secondaryBtnText="Voltar"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!signupForm.valid"
>
  <form [formGroup]="signupForm">
    <app-primary-input
      formControlName="telefone"
      inputName="telefone"
      type="text"
      label="Telefone"
      placeholder="(XX) XXXXX-XXXX"
    >
    </app-primary-input>
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="E-mail"
      placeholder="email@email.com"
    >
    </app-primary-input>
    <app-primary-input
      formControlName="senha"
      inputName="senha"
      type="password"
      label="Senha"
    >
    </app-primary-input>
    <app-primary-input
      formControlName="senhaConfirm"
      inputName="senhaConfirm"
      type="password"
      label="Confirme sua senha"
    >
    </app-primary-input>
  </form>
</app-default-login-layout>
