<div class="produtos-wrapper">
  <header>
    <div class="search-bar">
      <input type="text" placeholder="Pesquise por produtos ou lojas..."/>
      <button><img src="/assets/svg/search.svg"/></button>
    </div>
  </header>
  <div class="produtos-section">
    <mat-tab-group selectedIndex="1">
      <mat-tab label="Agricultores">
        <div class="agricultor-item">
          <div class="agricultor-agricultor">
            <img src="/assets/png/agricultor-sem-foto.png"/>
            <div class="agricultor-agricultor-info">
              <h3>Nome do agricultor</h3>
              <p>★ 4,3</p>
            </div>
          </div>
          <h4>Produtos Mais Vendidos</h4>
          <div class="agricultor-list">
            <div class="agricultor">
              <img src="/assets/png/manter-produto-sem-foto.png"/>
              <span class="agricultor-nome">Produto A</span>
              <span>4,3</span>
            </div>
            <div class="agricultor">
              <img src="/assets/png/manter-produto-sem-foto.png"/>
              <span class="agricultor-nome">Produto A</span>
              <span>4,3</span>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab [label]="categoria">
        <div class="produto-item">
          <div class="produto-agricultor">
            <img src="/assets/png/agricultor-sem-foto.png"/>
            <div class="produto-agricultor-info">
              <h3>Nome do agricultor</h3>
              <p>★ 4,3</p>
            </div>
          </div>
          <div class="produto-list">
            <div class="produto">
              <img src="/assets/png/manter-produto-sem-foto.png"/>
              <span class="produto-nome">Produto A</span>
              <span>4,3</span>
            </div>
            <div class="produto">
              <img src="/assets/png/manter-produto-sem-foto.png"/>
              <span class="produto-nome">Produto A</span>
              <span>4,3</span>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<app-navbar></app-navbar>
