<div class="pedidos-wrapper">
  <header>
    <img src="assets/svg/voltar.svg" (click)="navigateToPerfil()">
    <h4>Meus Pedidos</h4>
  </header>

  <div class="historico-pedidos">
    <h5>Histórico</h5>
    <div class="pedidos">

      <div class="pedido" (click) = "navigateToDetalhes()">
        <div class="pedido-header">
          <span>Sab, 22 junho 2024</span>
        </div>
        <div class="pedido-section" *ngFor="let pedido of pedidos">
          <div class="pedido-info">
            <span>Pedido {{ pedido.situacaoPedido }} - N° {{ pedido.id }}</span>
            <div class="pedido-itens" *ngFor="let produto of produtosPedido">
              <span>{{ produto.titulo }}</span>
            </div>
          </div>
          <div class="pedido-avaliacao">
            <span>Avaliação</span>
            <span class="stars">☆☆☆★★</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
