@import "../../../../../styles/variables.scss"; // Importe seus arquivos de variáveis conforme necessário

.add-produto-wrapper {

  .foto-produto {
    position: relative;

    .foto {
      width: 100%;
      height: 300px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .edit-foto-produto {
      position: absolute;
      right: 30px;
      top: 200px;
      z-index: 999;
    }
  }

  form {
    padding: 20px 50px;

    textarea {
      width: 100%;
      height: 150px;
      border: none;
      border-bottom: 1px solid black; // Ajuste conforme necessário
      background-color: transparent;
      font-family: 'Outfit', sans-serif;
    }

    .form-sub-item {
      display: flex;
      flex-wrap: wrap; // Permitir que os itens quebrem para baixo em telas menores
      gap: 10px; // Espaço entre os itens
      width: 100%;

      .custom-select {
        flex: 1; // Ocupar o espaço disponível
        margin-right: 10px; // Espaçamento entre os selects
        width: calc(50% - 5px); // Ajuste para dois selects em uma linha

        &:last-child {
          margin-right: 0;
        }

        mat-form-field {
          width: 100%;
        }
      }

      &.single-combo-box {
        .custom-select {
          width: calc(50% - 5px); // Ajuste para um select em uma linha
        }
      }

      &.two-combo-boxes {
        .custom-select {
          width: calc(33.33% - 5px); // Ajuste para três selects em uma linha
        }
      }
    }
  }

  .round-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $text-color; // Utilize suas variáveis ou valores diretos conforme necessário
    color: $white-bg; // Utilize suas variáveis ou valores diretos conforme necessário
    border: none;
    cursor: pointer;
    z-index: 9999;
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .round-button-secondary {
    position: fixed;
    right: 20px;
    bottom: 120px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $warning-color; // Utilize suas variáveis ou valores diretos conforme necessário
    color: $white-bg; // Utilize suas variáveis ou valores diretos conforme necessário
    border: none;
    cursor: pointer;
    z-index: 9999;
    font-size: 70px;
    rotate: 45deg; // Ajuste conforme necessário
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
