<div class="add-produto-wrapper">
  <div class="foto-produto">
    <img class="foto" [src]="imagemSelecionada || 'assets/png/placeholder-produto.jpg'" />
  </div>
  <form [formGroup]="form">
    <div class="input-wrapper">
      <label for="byteFoto">Foto do Produto</label>
      <br>
      <input type="file" id="byteFoto" (change)="onFileSelected($event)" />
    </div>
    <app-primary-input
      formControlName="nome"
      inputName="nome"
      type="text"
      label="Nome"
      placeholder="Produto A">
    </app-primary-input>
    <app-primary-input
      formControlName="preco"
      inputName="preco"
      type="number"
      label="Preço"
      placeholder="R$ 0,00">
    </app-primary-input>
    <div class="form-sub-item single-combo-box">
      <app-primary-input
        formControlName="pesoEstimado"
        inputName="pesoEstimado"
        type="number"
        label="Peso Estimado"
        placeholder="0,00">
      </app-primary-input>
      <mat-form-field appearance="fill" class="custom-select">
        <mat-label>Unidade</mat-label>
        <mat-select formControlName="unidadePeso">
          <mat-option value="g">g</mat-option>
          <mat-option value="kg">kg</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-sub-item two-combo-boxes">
      <app-primary-input
        formControlName="capacidadeProdutiva"
        inputName="capacidadeProdutiva"
        type="number"
        label="Capacidade Produtiva"
        placeholder="0,00">
      </app-primary-input>
      <mat-form-field appearance="fill" class="custom-select">
        <mat-label>Unidade</mat-label>
        <mat-select formControlName="unidadeCapacidade">
          <mat-option value="g">g</mat-option>
          <mat-option value="kg">kg</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="custom-select">
        <mat-label>Tempo</mat-label>
        <mat-select formControlName="tempoCapacidade">
          <mat-option value="semana">semana</mat-option>
          <mat-option value="quinzena">quinzena</mat-option>
          <mat-option value="mes">mês</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-sub-item single-combo-box">
      <app-primary-input
        formControlName="prazoEntrega"
        inputName="prazoEntrega"
        type="number"
        label="Prazo Entrega"
        placeholder="0,00">
      </app-primary-input>
      <mat-form-field appearance="fill" class="custom-select">
        <mat-label>Tempo</mat-label>
        <mat-select formControlName="tempoEntrega">
          <mat-option value="semana">semana</mat-option>
          <mat-option value="quinzena">quinzena</mat-option>
          <mat-option value="mes">mês</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill" class="custom-select">
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="categoria">
        <mat-option value="Frutas">Frutas</mat-option>
        <mat-option value="Grãos">Grãos</mat-option>
        <mat-option value="Raízes">Raízes</mat-option>
        <mat-option value="Vegetais">Vegetais</mat-option>
      </mat-select>
    </mat-form-field>
    <textarea
      formControlName="descricao"
      class="descricao"
      placeholder="Descrição">
    </textarea>
  </form>
  <button (click)="navigateToProduto()" class="round-button-secondary">+</button>
  <button (click)="salvar()" class="round-button">
    <img src="assets/svg/salvar.svg">
  </button>
</div>
