<div class="tornar-agricultor-wrapper">
  <img src="assets/svg/logo.svg" alt="Logo da CooperAgro" width="125" height="125" (click)="navigateToPerfil()"/>
  <h2>Tornar-se Agricultor</h2>
  <form [formGroup]="tornarAgricultorForm" class="tornar-agricultor-form">
    <app-primary-input
      formControlName="nomeLoja"
      inputName="nomeLoja"
      type="text"
      label="Nome Loja"
      placeholder="Nome Loja"
      [required]="true"
    >
    </app-primary-input>
    <app-primary-input
      formControlName="clientId"
      inputName="clientId"
      type="text"
      label="CLIENT ID"
      placeholder="CLIENT ID"
      [required]="true"
    >
    </app-primary-input>
    <app-primary-input
      formControlName="clientSecret"
      inputName="clientSecret"
      type="text"
      label="CLIENT SECRET"
      placeholder="CLIENT SECRET"
      [required]="true"
    >
    </app-primary-input>
  </form>
  <div class="btn-wrapper">
    <span class="btn-secondary" (click)="navigate()">Cancelar</span>
    <button
      class="btn-primary"
      (click)="submit()"
    >
      Tornar-se Agricultor
    </button>
  </div>
</div>
