<div class="manter-produto-wrapper">
  <h4 class="manter-produto-title">Produtos</h4>
  <header>
    <div class="search-bar">
      <input type="text" placeholder="Pesquise por produtos..."/>
      <button><img src="/assets/svg/search.svg"/></button>
    </div>
  </header>
  <div class="manter-produto-list">
    <div class="manter-produto-item">
      <div class="manter-produto-item-image">
        <img src="/assets/png/manter-produto-sem-foto.png"/>
      </div>
      <div class="manter-produto-item-info">
        <h5>Produto 1</h5>
        <p>Código</p>
      </div>
      <div class="manter-produto-item-side">
        <a>Detalhes</a>
        <div class="manter-produto-preco">
          <span>R$ 10,00</span>
        </div>
      </div>
    </div>

  </div>
</div>

<app-navbar-agricultor></app-navbar-agricultor>
