<div class="pedido-wrapper">
  <div class="pedido-header">
    <img src="../../../../assets/svg/voltar.svg" (click)="navigateToMeusPedidos()">
    <h4>Detalhes Pedido</h4>
  </div>
  <div class="pedido-detalhe">
    <div class="produto-agricultor">
      <img src="/assets/png/agricultor-sem-foto.png"/>
      <div class="produto-agricultor-info">
        <h3>{{ this.nomeAgricultor }}</h3>
        <p>★ 4,3</p>
      </div>
    </div>
    <div class="status-pedido">
      <span>Pedido {{ this.pedido.situacaoEntrega ? this.pedido.situacaoEntrega : this.pedido.situacaoPedido }} dia {{this.pedido.dataCriacao | date:'dd/MM/yyyy' }}</span>
    </div>
    <div class="itens-pedido">
      <div class="item" *ngFor="let produto of produtos">
        <img src="/assets/png/manter-produto-sem-foto.png"/>
        <span class="item-nome">{{ produto.titulo }}</span>
        <span class="produto-preco">{{ produto.precoUnitario | currency:'BRL':'symbol':'1.2-2' }}</span>
      </div>
    </div>
    <div class="valores">
      <h4>Resumo de valores</h4>
      <div class="valor">
        <span>Total</span>
        <span>{{ this.pedido.valorTotalPedido }}</span>
      </div>
    </div>
    <div class="endereco">
      <h4>Endereco</h4>
      <div class="endereco-info">
        <img src="../../../../assets/svg/endereco-pedido.svg">
        <div class="endereco-detalhe">
          <span class="endereco-log">R. A Q 46, 16</span>
          <span class="endereco-bairro">Bairro</span>
        </div>
      </div>
    </div>
  </div>
</div>
