@import "../../../../styles/variables";

* {
  font-family: 'Outfit', sans-serif;
}

.pedido-wrapper {
  padding: 40px;

  .pedido-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;

    img {
      position: absolute;
      left: 0;
    }

    h4 {
      font-family: 'Outfit', sans-serif;
    }
  }

  .status-pedido {
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    background-color: $tertiary-color;
  }
}

.pedido-detalhe {
  margin-top: 30px;

  .produto-agricultor {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;

    .produto-agricultor-info {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h3 {
        font-size: 16px;
        font-weight: bold;
        color: $text-color;
        margin: 0;
      }

      p {
        font-size: 14px;
        color: $text-color;
        margin: 0;
      }
    }
  }
}

.itens-pedido {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid $sub-text-color;

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;

    .item-nome {
      font-weight: bold;
    }
  }
}

.valores {

  .valor {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: $white-bg;

    span {
      font-weight: bold;
    }
  }
}

.endereco {
  margin-top: 30px;

  .endereco-info {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: $white-bg;

    .endereco-detalhe {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

.confirmar-entrega {
  margin-bottom: 30px;
  width: 100%;
  padding: 15px;
  border-radius: 40px;
  background-color: $primary-color;
  color: $text-color;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
  border: none;
}
