<div class="edit-perfil-wrapper">
  <div class="edit-perfil-header">
    <img src="../../../../assets/svg/voltar.svg" (click)="navigateToPerfil()">
    <h4>Editar Perfil</h4>
  </div>

  <form [formGroup]="editForm">
    <h4>Informações Pessoais</h4>

    <app-primary-input
      formControlName="telefone"
      inputName="telefone"
      type="text"
      label="Telefone"
      placeholder="(XX) XXXXX-XXXX"
      mask="(00) 00000-0000"
    >
    </app-primary-input>
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="E-mail"
      placeholder="email@email.com"
    >
    </app-primary-input>
    <app-primary-input
      formControlName="senha"
      inputName="senha"
      type="password"
      label="Senha"
      id="senha"
    >
      <img src="/assets/svg/password-icon.svg" alt="Icone de senha" class="pass-icon"/>
    </app-primary-input>
    <app-primary-input
      formControlName="senhaConfirm"
      inputName="senhaConfirm"
      type="password"
      label="Confirme sua senha"
      id="senhaConfirm"
    >
      <img src="/assets/svg/password-icon.svg" alt="Icone de senha" class="pass-icon"/>
    </app-primary-input>
    <app-primary-input
      formControlName="cnpj"
      inputName="cnpj"
      type="text"
      label="CNPJ"
      placeholder="XX.XXX.XXX/XXXX-XX"
      mask="00.000.000/0000-00"
    >
    </app-primary-input>
    <app-primary-input
      formControlName="razaoSocial"
      inputName="razaoSocial"
      type="text"
      label="Razão Social"
      placeholder="Razão Social"
    >
    </app-primary-input>
    <h4>Endereço</h4>
    <app-primary-input
      formControlName="cep"
      inputName="cep"
      type="text"
      label="CEP"
      placeholder="XXXXX-XXX"
      mask="00000-000"
      (blur)="consultaCep()"
      (keydown.tab)="consultaCep()"
    >
    </app-primary-input>
    <app-primary-input
      formControlName="logradouro"
      inputName="logradouro"
      type="text"
      label="Logradouro"
      placeholder="Rua..."
      [disabled]="true"
    >
    </app-primary-input>
    <app-primary-input
      formControlName="complemento"
      inputName="complemento"
      type="text"
      label="Complemento"
      placeholder="Complemento"
    >
    </app-primary-input>
    <div class="numero-section">
      <app-primary-input
        formControlName="numero"
        inputName="numero"
        [type]="numeroDisabled ? 'text' : 'number'"
        label="Número"
        placeholder="Número"
        [disabled]="numeroDisabled"
      >
      </app-primary-input>
      <div class="checkbox-wrapper">
        <input type="checkbox" id="semNumero" class="styled-checkbox" (change)="setSemNumero($event)"/>
        <label for="semNumero" class="checkmark"></label>
        <label for="semNumero">Sem Número</label>
      </div>
    </div>

    <app-primary-input
      formControlName="bairro"
      inputName="bairro"
      type="text"
      label="Bairro"
      placeholder="Bairro"
      [disabled]="true"
    >
    </app-primary-input>
    <div class="estado-cidade-section">
      <app-primary-input
        formControlName="estado"
        inputName="estado"
        type="text"
        label="Estado"
        placeholder="Estado"
        [disabled]="true"
      >
      </app-primary-input>
      <app-primary-input
        formControlName="cidade"
        inputName="cidade"
        type="text"
        label="Cidade"
        placeholder="Cidade"
        [disabled]="true"
      >
      </app-primary-input>
    </div>
  </form>
  <div class="edit-perfil-buttons">
    <button class="btn btn-primary" (click)="submit()">Salvar</button>
    <button class="btn btn-secondary" (click)="navigateToPerfil()">Cancelar</button>
  </div>
</div>
